@import "../../sass/_variables"

.product-item
  display: flex
  flex-direction: column
  align-items: center
  width: 100px
  margin: 1rem 2rem 1rem 2rem
  @media only screen and (max-width: 524px)
    margin: 0.5rem 1rem 0.5rem 1rem

  .image-container
    position: relative
    & Button
      position: absolute
      top: 0
      right: 0
      z-index: 1
      @media only screen and (max-width: 524px)
        right: -0.5rem

        img
          width: 1.2rem
          height: 1.2rem

    .count
      position: absolute
      bottom: 0
      left: 0
      width: 2.25rem
      height: 2.25rem
      background: $primary
      border-radius: 100%
      display: flex
      justify-content: center
      align-items: center
      color: $contrast
      font-weight: bold
      z-index: 1
      @media only screen and (max-width: 524px)
        width: 1.1rem
        height: 1.1rem
        font-size: 0.8rem
        
    .image
      cursor: pointer
      @media only screen and (max-width: 524px)
        width: 50px
        height: 50px
 
      &-gray
        filter: grayscale(1)
        cursor: default
        @media only screen and (max-width: 524px)
          width: 50px
          height: 50px

  .edit-form
    display: flex
    flex-direction: column
    align-items: center
    .form-submit
      background: none
      border: none
      color: $primary
      margin-top: 0.5rem

    .input-lable
      display: flex
      justify-content: center
      .input
        width: 1.5rem
        text-align: center
        margin-left: 0.25rem

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button 
          -webkit-appearance: none
          margin: 0

        &[type=number] 
          -moz-appearance: textfield

input
  .name, .price
    font-size: 1.12rem
    color: $text


